.Container {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--slate-4);
  padding: 16px;
  border-radius: 16px;
}

.Divider {
  height: 1px;
  background-color: var(--slate-4);
  margin: 0 -16px;
}

.Finished {
  text-decoration: line-through;
  color: var(--slate-8);
}
