.Container {
  display: block;
  position: relative;
  width: auto;
  margin-bottom: 80px;
}

/* Style for the stack */
.Stack {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Style for each card */
.Card {
  position: absolute;
  height: 100%;
  width: calc(100% * var(--scale));
  border: 1px solid var(--slate-4);
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  top: calc(8px * var(--index));
  left: calc((100% - var(--scale) * 100%) / 2);
  transform-origin: center center;
}

/* Set scaling factor and index */
.Card:nth-child(n) {
  --index: calc(var(--participantsLeft) - var(--currentIndex));
  --scale: calc(1 - (var(--index)) * 0.1);
}
