.Container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 16px 24px;
  border-bottom: 1px solid var(--slate-4);
}

.Header > h3 {
  flex: 1;
}

.CountIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36px;
  height: 36px;
  top: 0;
  background-color: white;
  border-radius: 100%;
  border: 1px solid var(--slate-4);
}

.ScrollContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  padding: 24px;
  gap: 12px;
}

.PlaceholderButton {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--slate-11);
  background-color: var(--slate-3);
  border: 1px solid var(--slate-4);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.PlaceholderButton:hover {
  background-color: var(--slate-4);
  color: var(--slate-12);
}

.Footer {
  display: flex;
  padding: 16px 24px;
  width: 100%;
  background-color: white;
  border-top: 1px solid var(--slate-4);
}

.Footer > button {
  flex: 1;
}
