.Container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ClearButton {
  color: var(--slate-11);
  cursor: pointer;
}

.ClearButton:hover {
  color: var(--slate-12);
  text-decoration: underline;
}

.List {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid var(--slate-4);
  border-radius: 8px;
  overflow: hidden;
}

.ListItem {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  align-items: center;
  background-color: var(--slate-2);
}

.ListItem:not(:last-child) {
  border-bottom: 1px solid var(--slate-4);
}

.ListItem.Active {
  background-color: white;
}

.CheckboxRoot {
  display: flex;
  background-color: var(--blue-1);
  border: 1px solid var(--slate-7);
  min-width: 28px;
  min-height: 28px;
  max-width: 28px;
  max-height: 28px;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.CheckboxRoot:hover {
  border: 1px solid var(--slate-8);
}

.CheckboxRoot[data-state="checked"] {
  box-shadow: 0 2px 10px var(--slate-7);
}

.CheckboxIndicator {
  color: var(--blue-11);
  width: 28px;
  height: 28px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

.Input {
  display: flex;
  align-items: center;
  color: var(--slate-8);
  font-size: 1.125rem;
  line-height: 1;
  width: 100%;
  height: 40px;
  border: 2px solid transparent;
  padding: 0 12px;
}

.InputSelected {
  color: var(--slate-12);
}

.Input:hover:not(:disabled) {
  border-bottom: 2px solid var(--slate-3);
}

.Input:disabled {
  background-color: transparent;
  user-select: none !important;
}

.Delete {
  all: unset;
  cursor: pointer;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--slate-4);
  border-radius: 100%;
  transition: background-color 120ms, border 120ms;
}

.Delete:hover {
  background-color: var(--red-3);
  border: 1px solid var(--red-5);
}

.Delete > svg {
  color: var(--slate-9);
}

.Delete:hover > svg {
  color: var(--red-10);
}

:focus {
  outline: -webkit-focus-ring-color auto 2px;
  outline-offset: 4px;
}

.PlaceholderButton {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--slate-11);
  background-color: var(--slate-3);
  font-weight: 500;
  cursor: pointer;
}

.PlaceholderButton:hover {
  background-color: var(--slate-2);
  color: var(--slate-12);
}

.PlaceholderButton:focus {
  outline-offset: -4px;
}

.Avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100%;
}
