.Container {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.List {
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--slate-4);
  border-radius: 8px;
  overflow: hidden;
}

.ListItem {
  display: flex;
  padding: 16px 16px;
  gap: 8px;
  align-items: center;
  background-color: white;
}

.ListItem:not(:last-child) {
  border-bottom: 1px solid var(--slate-4);
}

.ListItem.Finished {
  text-decoration: line-through;
  color: var(--slate-8);
  background-color: var(--slate-2);
}
